# Node modules and build
node_modules/
.expo/
.expo-shared/
dist/
build/
web-build/
ios/
android/

# Env / secrets
.env
.env.*
app.config.local.js

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# OS / editor junk
.DS_Store
Thumbs.db
.vscode/
